asgiref==3.8.1
Django==5.1.2
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-gis==1.1
GDAL @ file:///C:/Users/HP/Downloads/GDAL-3.9.2-cp313-cp313-win_amd64.whl#sha256=a65469cb4f1fb407f55483b3a71395cc658eec15c579d4a62e5d4bad8f802a41
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.3
python-dotenv==1.0.1
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
